link(href="/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(rel="stylesheet", href="/css/improve.css")
script(src="/jquery/dist/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/admin.js")
script(src="/js/detail.js")
//-所依赖的样式